/* this is the image id properties */
  #one{
  float: left;
  height: 700 px;
  width: 400px;
  margin: 30px 10px 30px 20px;
  padding-left: 40px;
  }
  .SubTittles_of_about {
    background-color: #DBF9FC;
    display: flex;
    padding: 30px;
    justify-content: space-between;
}

}
img {
  max-height: 200px;
}
p {
  margin-top: 5px;
  font-size: 0.9em;
  text-align: justify;
  margin-bottom: 10px;


}
a {
  font-weight: 900;
}
a:hover {
  color: red;
}
