
/* css of body */
body{
  width: 88%;
  padding-left: 30px;
  background-color: #F0FFF0;
  /* background-image: url("./images/poster,504x498,f8f8f8-pad,600x600,f8f8f8.jpg"); */
}

  .SubTittles_of_about {
    background-color: #ADD8E6;
    display: flex;
    padding: 0px;
    justify-content: space-between;
    width: 100%;

}

header {
  background-color: darkolivegreen;
  height: 200px;
}

.topnav{
  text-align: right;
  margin-top: 20px;
  padding-top: 20px;
}

.topnav a{
  padding: 15px;
  text-align: right;
  color: black;
  font-size: 20px;
  text-decoration: none;
  padding-top: 20px;
}



            /* Mission AND Vision css */

  .missionVision{

      padding: 0 2px;
      Background-Color: #e1e3e1 ;
  }


  .missionVisionpackage{
    padding: 15px;
    text-align: center;
  }
  .boxes{
    width: auto;
    display: flex;
    justify-content: center;
  }

  .ho1{
    box-sizing: border-box;
    background-color: white;
    height: auto;
    width: 450px;
    padding: 25px;
    border-radius: 50px;
    margin: 50px;
    margin-bottom: 43px;
    position: relative;
    background-color: #6AFB92;

  }

.ho1 p {
  margin-top: 5px;
  font-size: 0.9em;
  text-align: center;
  margin-bottom: 10px;
  color: white;


}
h4{
  font-size: 33px;
  text-align: center;
  color: #FFFF00;
}
h3{
  text-emphasis: bold;
  font-size: 50px;
  font-family: fantasy;
  color: #FF00FF;
  background-color: #4863A0;

}

.likeus{
  margin-left: 10px;
  width: 100%;
  text-align: center;
  height: 90px;
  display: flex;
  justify-content: space-around;
  padding-top: 18px;
  background-color: #808000;
}


