html {
    padding-left: 100px;
    padding-right: 100px;
}

h2 {
    text-align: center;
}

.event1 div, .event2 div{
    width: 320px;
    height: auto;
    margin: 10px;
    text-align: left;
}

.event1, .event2 {
    display: flex;
    justify-content: space-between;
    overflow-x: scroll;
    overflow-y: hidden;
}

.register {
    padding-bottom: 100px;
}