header{
background-image: url("https://cdn.pixabay.com/photo/2018/08/12/15/29/hintersee-3601004__340.jpg");
background-size: auto;
background-repeat: repeat;
margin: 20px;
}
.topnav{
text-align: right;
margin-top: 2px;

}
.topnav a{
padding: 15px;
text-align: right;
color: white;
font-size: 20px;
text-decoration: none;
}
header img{
margin-top: 10px;
}

.image-text {
    position: absolute;
    top: 340px;
    left: 0;
    color: rgb(7, 43, 14);
}

body {
    font-size: 20px;
    font-family: sans-serif;
}
.mid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
    background-color: azure;
    
}
.vision{
    padding-right: 20px;
    width: 60%;
    margin: 6px;
    justify-content: space-around;
}
.mission{
    width: 60%;
    padding-right: 15px;
    margin: 6px;
}
.program{
    width: 90%;
    margin: 6px;
}

h2 {
    color: rgb(35, 90, 35);
}

.text-over {
    position: relative;
}

.sections {
    max-width: 700px;
    background-color: rgb(209, 250, 246);
    align-items: center;
    padding: 50px;
    padding-top: 5px;
    text-align: center;
    height: auto;
}

.sections > div {
    margin: 5px;
    align-items: center;
    background-color: white;
}

main {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    overflow: auto;
}

.news {
    float: right;
    background-color: rgb(253, 220, 253); 
    align-items: center;
    text-align: center;
    padding: 50px;
    padding-top: 5px;
    height: auto;
}

.news>h2 {
    color: blue;
}

.news >div {
    background-color: rgb(77, 218, 218);
    padding: 5px;
    margin: 10px;
}

a {
    text-decoration: none;
}
.news > div > a {
    color: white;
}
    max-width: 800px;
}

