.image-text {
    position: absolute;
    top: 340px;
    left: 0;
    color: rgb(7, 43, 14);
}

body {
    font-size: 20px;
    font-family: sans-serif;
}

.text-over {
    position: relative;
}

.sections {
    max-width: 700px;
    background-color: rgb(209, 250, 246);
    align-items: center;
    padding: 50px;
    padding-top: 5px;
    text-align: center;
    height: auto;
}

.sections > div {
    margin: 5px;
    align-items: center;
    background-color: white;
}

main {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    overflow: auto;
}

.news {
    float: right;
    background-color: rgb(253, 220, 253); 
    align-items: center;
    text-align: center;
    padding: 50px;
    padding-top: 5px;
    height: auto;
}

.news >div {
    background-color: rgb(77, 218, 218);
    padding: 5px;
}