body {
    /*background-image: url(images/environmental-protection-326923_1920.jpg);*/
    background-repeat: no-repeat;
    background-size: cover;
}

img {
    border-radius: 50px 50px 50px 50px;
    border-style: solid;
    border-color: rgb(140, 125, 240);
    border-width: 1px;
}

.image1, .image3 {
    float: left;
}

.image2, .image4 {
    float: right;
}

h3 {
    text-align: center;
    color: rgb(52, 97, 6);
}

p {
    max-width: 600px;
}

main {
    display: flex;
    flex-direction: column;
    /* background-color: rgb(155, 155, 241); */
}

header {
    background-color: darkolivegreen;
    height: 200px;
}

.topnav{
    text-align: right;
    margin-top: -10px;
    padding-top: 20px;
}

.topnav a{
    padding: 15px;
    text-align: right;
    color: black;
    font-size: 20px;
    text-decoration: none;
    padding-top: 20px;
}
.likeus{
    width: 100%;
    text-align: center;
    height: 90px;
    display: flex;
    justify-content: space-around;
    padding-top: 18px;
    background-color: #808000;
  }

  .biography {
      text-align: start;
  }
  .biography > h2 {
      text-align: center;
      color: rgb(57, 136, 110);
      font-size: 2em;
      /* background-color: blue; */
  }
  .biography1 {
      background-color: rgb(224, 195, 250);
      margin-bottom: 5px;
      padding-left: 50px;
      padding-right: 50px;
  }
  .biography2 {
      background-color: rgb(217, 249, 250);
      margin-bottom: 5px;
      padding-left: 50px;
      padding-right: 50px;
  }
  .biography3 {
      background-color: rgb(188, 188, 247);
      margin-bottom: 5px;
      padding-left: 50px;
      padding-right: 50px;
  }
  .biography4 {
      background-color: rgb(250, 195, 195);
      margin-bottom: 5px;
      padding-left: 50px;
      padding-right: 50px;
  }
  .biography1>p {
      padding-left: 200px;
  }

.biography2>p {
    padding-left: 200px;
}

.biography3>p {
    padding-left: 200px;
}

.biography4>p {
    padding-left: 200px;
}

.apply {
    text-align: center;
    background-color: rgb(82, 121, 43);
    align-items: center;
    padding-bottom: 30px;
}

.apply a {
    text-decoration: none;
    background-color: white;
    padding: 10px;
    border-radius: 50px 50px 50px 50px;
    color: teal;
    font-size: large;
}

.apply h2 {
    color: white;
}